@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }
}

@layer components {
  .pora-prose {
    @apply prose prose-zinc;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply scroll-mt-16;
    }

    a {
      @apply text-blue-500 hover:text-blue-500 no-underline hover:underline;

      svg {
        @apply text-foreground;
      }
    }

    :not(pre) > code {
      @apply before:content-none after:content-none bg-zinc-100 border border-zinc-200;
    }

    pre {
      @apply bg-white border text-black;
    }
  }
}
